#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:lightyellow;
 text-align:center; 
 z-index:10;
 font-family: 'JustLettersMedium'; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
}

body {
 background-image:url("https://static.vecteezy.com/system/resources/previews/005/692/268/large_2x/rocky-mountain-scenery-and-the-sea-or-the-night-river-full-moon-yellow-gold-reflection-on-the-water-surface-there-is-a-faint-mist-on-the-water-clear-sky-many-stars-at-night-3d-rendering-free-photo.jpg");
}

.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
 
}

.clear{
}

.white{
 border: 1px solid black;
 width: 12%;
 height: 60px;
 background-color:#bdbdbd;
 float:left;
} 

.black{
 border: 1px solid black;
 width: 12%;
 height: 60px;
 background-color:#444445;
 float:left;
}

#container {
 margin-top:17%;
 padding: 30px;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
 width:85%;
 border:solid 1px;
 display:inline-block;
 background-color: gray;
}

#footer {
 position:fixed;
 border:solid 1px;
 padding: 10px;
 margin: 12%;
 width:100%;
}

img {
 margin-left: 5px;
 margin-top:10px;
 }
