     @import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');

:root {
      --primary: #F17300;
      --accent:#607196 ;
      --bg: #f2e4d3;
      --text: #AF3E4D;
      --card-bg: #F1F0EA;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: var(--bg);
      color: var(--text);
      text-align: center;
    
    }

    header {
      background-color: var(--primary);
      color: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin-left: 1.5rem;
      font-weight: bold;
    }

    #logo{
      font-size: 200%;
      font-family: "Badeen Display", system-ui;
      font-weight:.5%;
    }

    .form-group {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    select {
      padding: 10px;
      width: 100%;
      max-width: 300px;
    }
    button {
      padding: 12px 24px;
      background: var(--primary);
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #218838;
    }
    .tags {
      margin-top: 20px;
    }
    .tag {
      display: inline-block;
      background: #007bff;
      color: white;
      padding: 8px 14px;
      border-radius: 20px;
      margin: 5px;
      font-size: 14px;
    }

    footer {
      text-align: center;
      padding: 2rem;
      font-size: 0.9rem;
      color: #888;
    }
